@import url(//fonts.googleapis.com/css?family=Lato:300:400);
body {
  margin: 0;
  height: 100vh;
}

.parent-container {
  margin-top: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}

.container {
  height: 100%;
  width: 50%;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dash {
  height: 520px;
  min-width: 350px;
  color: white;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(60deg, #011f4b 0%, #b3cde0 100%);
}
#dash-title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 30px;
}

#dash-text {
  color: white;
  margin: 20px 20px;
}

.board {
  margin: 20px 20px;
  max-height: 520px;
  max-width: 520px;
  min-height: 520px;
  min-width: 520px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
}

.health {
  width: 520px;
  margin-bottom: 30px;
}

.healthToggle {
  padding: 10px;
  width: 80px;
  border: 1px solid black;
  color: white;
  background-color: green; 
}

.cells {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  margin: 1px 1px;
  border: 1px solid black;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
}

.enemy:hover {
  background-color: #011f4b;
  color: white;
}

.user-btns {
  width: 90px;
  height: 30px;
  border: none;
  color: white;
  margin: 0px 2px 50px 2px;
  border-radius: 5px;
}

.user-btns:hover {
  background-color: crimson;
  color: white;
}

#start-game:hover {
  background-color: crimson;
  color: white;
}

.board-titles {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0;
}

#start-game {
  background-color: black;
  display: none;
}

#randomize {
  color: black;
  background-color: white;
}

#randomize:hover {
  background-color: crimson;
  color: white;
}

span {
  font-weight: 1000;
}

.home-page {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.p-text {
  color: white;
}

.h-text {
  margin-top: 80px;
}

.p-text:hover {
  text-decoration: underline;
}

/*
Waves from:
https://codepen.io/goodkatz/pen/LYPGxQz?editors=0100
*/

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #011f4b 0%, #b3cde0 100%);
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
